.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 5rem;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-container label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}

.form-container #title,
.form-container #description,
.form-container #price {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #555555;
    background-color: #fefefe;
    transition: border-color 0.2s ease;
}

.form-container #title:focus,
.form-container #description:focus,
.form-container #price:focus {
    border-color: #007BFF;
    outline: none;
}

.form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form-container button:hover {
    background-color: #0056b3;
}
